@page "/Home/Index"
@inherits IndexBase
@attribute [Authorize]

<PageTitle>Home</PageTitle>


<section id="index1" style="margin-top: 86px;">
    <h1>Welcome to TZT Date, <span>@Me?.Username</span></h1>
    @if (Me?.SearchingGender == Gender.Female)
    {
        <p>Top @RecomendationUsers?.Count() female recomendations for you!</p>
    }
    @if (Me?.SearchingGender == Gender.Male)
    {
        <p>Top @RecomendationUsers?.Count() male recomendations for you!</p>
    }
    <div>
        @if (RecomendationUsers != null)
        {
            @foreach (var user in RecomendationUsers)
            {
                <div>
                    @{
                        string image = user?.ProfilePicPaths[0];
                    }
                    <img src="@image">
                    <p>@user?.Username</p>
                    <p>@user?.GetZodiacSign()</p>
                    <a href="/User/Details?id=@user.Id"><span class="material-symbols-outlined">info</span></a>
                </div>
            }
        }
    </div>
</section>
