@page "/User/Details/{ViewedUserId:int}"

@inherits DetailsBase

<PageTitle>Details</PageTitle>

<div class="details-img-div" style="margin-top: 100px;">
    @if (ProfilePicPaths != null)
    {
        @foreach (var profilePicPath in ProfilePicPaths)
        {
            <img src="@profilePicPath" alt="profile-pic">
        }
    }
    <br>
</div>

<div class="about details-about">
    <div class="about-me">
        <h2>FACTFILE</h2>

        <div class="about-div1">
            <span class="material-symbols-outlined">person</span>
            <div class="about-div2">
                <span>Username</span>
                <p>@ViewedUser?.Username</p>
            </div>
        </div>

        <div class="about-div1">
            <span class="material-symbols-outlined">location_on</span>
            <div class="about-div2">
                <span>City of residence</span>
                <p>@ViewedUser?.Address?.Country , @ViewedUser?.Address?.City ,
                    @ViewedUser?.Address?.State</p>
            </div>
        </div>

        <div class="about-div1">
            <span class="material-symbols-outlined">interests</span>
            <div class="about-div2">
                <span>Interests</span>
                <p>@ViewedUser?.Interests</p>
            </div>
        </div>

        <div class="about-div1">
            <span class="material-symbols-outlined">mail</span>
            <div class="about-div2">
                <span>Personal mailing address</span>
                <p>@ViewedUser?.Email</p>
            </div>
        </div>

        <div class="about-div1">
            @if (ViewedUser?.Gender == Gender.Male)
            {
                <span class="material-symbols-outlined">male</span>
            }
            else
            {
                <span class="material-symbols-outlined">female</span>
            }
            <div class="about-div2">
                <span>Gender</span>
                <p>@ViewedUser?.Gender</p>
            </div>
        </div>

        <div class="about-div1">
            <span class="material-symbols-outlined">favorite</span>
            <div class="about-div2">
                <span>Who am I looking for?</span>
                <p>Searching for ages between: <b>@ViewedUser?.SearchingAgeStart</b> and
                    <b>@ViewedUser?.SearchingAgeEnd</b>
                </p>
                <p style="margin-top: -16px !important;">Searching for @ViewedUser?.SearchingGender</p>
            </div>
        </div>
    </div>
    <div style="margin-top: 30px !important;" class="about-me">
        <h2>Zodiac sign compatibility</h2>
        @if (CurrentUser != null && ViewedUser != null)
        {
            <h3 style="margin-top: -30px !important;"><span class="zodiac-sign">@CurrentUser?.GetZodiacSign()</span>
                @ZodiacCompatibility?.Type <span class="zodiac-sign">@ViewedUser?.GetZodiacSign()</span></h3>
        }
        <div>@ZodiacCompatibility?.Description</div>
    </div>
    <div>
        <button @onclick="LikeButtonClick" class="like-button @(LikeButtonState ? "liked" : "")">
            @(LikeButtonState ? "Unlike" : "Like")
        </button>
        <button @onclick="ChatButtonClick" class="chat-button"
            style="@(ReplicateMembership == false ? "display: none;" : "")"> Chat
        </button>
    </div>
</div>
