@page "/User/Profiles"
@inherits ProfilesBase

<PageTitle>Profiles</PageTitle>

<div class="search-bar">
    <input type="text" @bind-value=SearchingByName placeholder="search by name">
    <input type="text" @bind-value=SearchingStartAge placeholder="search by start age">
    <input type="text" @bind-value=SearchingEndAge placeholder="search by end age">
    <input type="text" @bind-value=SearchingInterests placeholder="search by interests">
    <input type="text" @bind-value=SearchingGender placeholder="search by gender">

    <button @onclick=FilterSearch>Search</button>
</div>

<div>
    @foreach (var profile in profiles.users)
    {
        <a href="/User/Details?id=@profile.Id">
            <div style="margin-top: 10px; background-color: blue;">
                <p style="color: #000;">@profile.Username</p>
            </div>
        </a>
    }
</div>