@inherits LayoutComponentBase
@inject AuthenticationStateProvider authenticationStateProvider
@inject ILocalStorageService localStorageService
@inject NavigationManager navigationManager

<header>
    <a href="/" class="logo">TZT<span>Date</span></a>

    <nav class="navbar">
        <AuthorizeView>
            <Authorized>
                <a href="/Home/Index">Home</a>
                <a href="/User/Profiles">Profiles</a>
                <a href="/Forum/Index">Forum</a>
                <a href="/User/Account">Account</a>
                <a class="logout" href="/" @onclick="LogoutAsync"><span class="material-symbols-outlined">logout</span></a>
            </Authorized>
            <NotAuthorized>
                <a href="/Auth/Login" class="login">Login</a>
                <a href="/Auth/Register" class="register">Register</a>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</header>

@Body

@code {
    public async Task LogoutAsync()
    {
        await localStorageService.RemoveItemAsync("jwt");
        await localStorageService.RemoveItemAsync("refreshToken");

        await authenticationStateProvider.GetAuthenticationStateAsync();
    }
    private bool IsProfilePage()
    {
        var currentUrl = navigationManager.Uri;

        return currentUrl.Contains("/User/Profiles", StringComparison.OrdinalIgnoreCase);
    }
}