@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<header>
    <a href="/Home/Main" class="logo">TZT<span>Date</span></a>

    <nav class="navbar">
        <AuthorizeView>
            <Authorized>
                <a href="/Home/Index">Home</a>
                <a href="/User/Profiles">Profiles</a>
                <a href="/Forum/Index">Forum</a>
                <a href="/LoveCalculator/Index">Love Calculator</a>
                <a href="/User/Account">Account</a>
                <a href="/Home/Main" @onclick="Logout"><span class="material-symbols-outlined">logout</span></a>
            </Authorized>
            <NotAuthorized>
                <a href="/Auth/Login" class="login">Login</a>
                <a href="/Auth/Register" class="register">Register</a>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</header>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <a href="/Auth/Login">Login</a>
                    <a href="/Auth/Register">Register</a>
                </NotAuthorized>
                <Authorized>
                    <button @onclick="LogoutAsync">Logout</button>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    async Task Logout()
    {
        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "jwt");
        await JSRuntime.InvokeVoidAsync("window.location.reload", "");
    }
}

@Body
