:root {
    --text-color: #000;
    --main-color: #00abf0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 150px;
    max-height: 86px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
    box-shadow: 0px 0px 10px #dfdfdf;
}

header span {
    color: #ff4dc9;
}

header .logo {
    font-size: 25px;
    color: var(--text-color);
    font-weight: 600;
}

header .navbar a {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .2s;
}

header .navbar a:hover {
    color: #ff4dc9;
}

header #menu-icon {
    font-size: 6.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

header .login {
    height: 40px;
    position: relative;
    display: flex;
    margin-right: -35px;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #000;
    border-radius: 30px;
    width: 170px;
    font-weight: 100;
    letter-spacing: .1rem;
    color: #000 !important;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    font-size: 16px !important;
}

header .login:hover {
    color: #fff !important;
}

header .login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: .5s;
}

header .login:active {
    font-size: 18px !important;
}

header .login:hover::before {
    width: 100%;
}

header .register {
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border: 1px solid #000;
    border-radius: 30px;
    width: 170px;
    font-weight: 100;
    letter-spacing: .1rem;
    color: #fff !important;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    font-size: 16px !important;
}


header .register:hover {
    color: #000 !important;
}

header .register::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    z-index: -1;
    transition: .5s;
}

header .register:active {
    font-size: 18px !important;
}

header .register:hover::before {
    width: 100%;
}

header a {
    text-decoration: none;
}

header .logout {
    color: #000;
    margin-top: 11px;
}

header .logout span {
    color: #000;
}


header .logout span:hover {
    color: #ff4dc9;
}